@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

html {
    font: 400 16px/1.5 "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #00204d;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    font: inherit;
    text-decoration: none;
    position: relative;
    z-index: 0;
}

a:before {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 0.3s linear;
}

a:hover:before  {
    width: 100%;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

h2, h3, h4 {
    clear: both;
    margin: 0;
}

figcaption {
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
    color: #00204d;
}

.skip-link {
    color: #fff;
    position: absolute;
    right: 100%;
    padding: 80px;
    background-color: #022452;
    box-shadow: 0px 0px 0px 1px #143D77 inset, -8px -8px 4px 0px #143D77;
    border-radius: 8px;
    outline: none;
}

.skip-link:focus-within {
    right: unset;
    left: 32px;
    top: 32px;
    z-index: 2;
}

nav {
    padding: 32px;
    background-color: #022452;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

nav ul li a {
    color: #D1886D;
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
}

nav ul li a:hover:before,
nav ul li a.active-link:before {
    width: 100%;
    background-color: #D1886D;
}

header {
    padding: 32px;
    height: 100vh;
    display: grid;
    grid-template-rows: 80% max-content;
    gap: 16px;
    position: relative;
    z-index: -1;
    justify-items: center;
}

h1 {
    font-size: 40px;
    margin: 0;
    align-self: flex-end;
}

.header-image img {
    max-width: 600px;
    width: 100%;
    display: block;
    position: sticky;
    top: 92px;
    border: 4px solid #4D0800;
    padding: 4px;
    border-radius: 16px;
}

main {
    padding: 32px;
    min-height: 100vh;
}

main a {
    color: #4D0800;
}

main a:before {
    background-color: #4D0800;
}

.large-text {
    font-size: 24px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(302px));
    gap: 8px;
    margin: 24px 0;
    justify-content: center;
}

.grid figure {
    margin: 0;
    background-color: #D4E6FF;
    border-radius: 24px;
    padding: 8px;
    height: 100%;
}

.grid figure img {
    transition: transform 1s linear 0.3s;
    border: 3px solid #00204d;
}

.grid li:nth-child(2n+1) figure img {
    border-radius: 124px 24px;
}
.grid li:nth-child(2n+2) figure img {
    border-radius: 24px 124px;
}

.grid figure img:hover {
   transform: rotateY(180deg);
}

.flex {
    display: flex;
    gap: 32px;
}

@media (max-width:767px) {
    .page-navigation {
        display: none;
    }
}

.page-navigation {
    position: sticky;
    top: 140px;
    align-self: flex-start;
    flex: 0 1 226px;
    width: max-content;
}

.page-navigation details {
    display: grid;
}

.page-navigation details > a, .page-navigation details details {
    margin-left: 24px;
    margin-top: 8px;
}

.content {
    flex: 1;
}

dl dt {
    font-weight: 500;
    color: #11004D;
}
dd + dt {
    margin-top: 4px;
}

.content-image {
    background-color: #D4E6FF;
    border-radius: 24px 24px 0 0;
    padding: 8px;
    max-width: fit-content;
    width: 236px;
}

.content-image img {
    border-radius: 24px 24px 0 0;
    height: 100%;
    margin: 0 auto;
}

.content-image:nth-of-type(odd) {
    float: right;
    margin: 16px 0 16px 16px;
}

.content-image:nth-of-type(even) {
    float: left;
    margin: 16px 16px 16px 0;
}

.group-images {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 8px;
    background-color: #D4E6FF;
    border-radius: 24px 24px 0 0;
    padding: 8px;
    float: right;
    margin: 16px 0 16px 16px;
}

.group-images figure {
    margin: 0;
}
.group-images figure img {
    max-width: unset;
    border-radius: 24px 24px 0 0;
}

h2 {
    border-bottom: 1px solid #00204d;
    padding-bottom: 4px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-32 {
    margin-top: 32px;
}

.gallery {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: space-between;
}

.gallerybox figure {
    height: 100%;
    margin: 0;
    border: 1px solid #00204d;
    display: grid;
    justify-items: center;
    padding: 15px;
}

.list {
    list-style: square inside;
    margin-left: 8px;
}

.list li + .list li {
    margin-top: 8px;
}

footer {
    background-color: #022452;
    padding: 64px;
    color: #fff;
    font-size: 16px;
}

footer a {
   color: #D1886D;
}

footer a:before {
    background-color: #D1886D;
}

